:root {
    --title: #363F5F;
    --text: #969CB2;
    --background: #F0F2F5;

    --green: #49AA26;
    --green-dark: #2D4A22;
    --light-green: #3DD705;
    --red: #E92929;
}

html, input, a, button {
    font-size: 93.75%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background);
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;
    
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }
}