:root {
    --title: #363F5F;
    --text: #969CB2;
    --background: #F0F2F5;

    --green: #49AA26;
    --green-dark: #2D4A22;
    --red: #E92929;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}