#balance {
    margin-top: -8rem;
}

#balance h2 {
    margin-top: 0;
    color: #FFF;
}

@media (min-width: 800px) {
    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}