.card {
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;

    color: var(--title);
    background-color: #FFF;

    border-radius: 0.25rem;
}

.card h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1rem;
    font-weight: 400;
}

.card p {
    margin-top: 1rem;
    
    font-size: 2rem;
    line-height: 3rem;
}

.card.total {
    color: #FFF;
    background-color: var(--green);
}