header {
    padding: 2rem 0 10rem;
    text-align: center;
    background-color: var(--green-dark);
}

@media (min-width: 800px) {
    header {
        height: 238px;
        padding: 29px 0 0;
    }
}