.button {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 0.25rem;

    text-decoration: none;
    cursor: pointer;
}

.new {
    display: inline-block;

    margin-bottom: .8rem;
    
    color: var(--green);
    text-decoration: none;
}

.new:hover {
    color: var(--light-green);
}

.cancel {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--red);
    border: 2px solid var(--red);

    opacity: 0.6;
}

.cancel:hover {
    opacity: 1;
}

.save {
    color: #FFF;
    background-color: var(--green);
}

.save:hover {
    background-color: var(--light-green);
}